@font-face {
    font-family: "Satoshi-Regular";
    src: url('../Fonts/Satoshi-Regular.otf');
}
@font-face {
    font-family: "Satoshi-Light";
    src: url('../Fonts/Satoshi-Light.otf');
}
@font-face {
    font-family: "Satoshi-Medium";
    src: url('../Fonts/Satoshi-Medium.otf');
}
@font-face {
    font-family: "Satoshi-Bold";
    src: url('../Fonts/Satoshi-Bold.otf');
}
@font-face {
    font-family: "PPMori-SemiBold";
    src: url('../Fonts/PPMori-SemiBold.otf');
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Satoshi-Medium", sans-serif;
    font-size: 12px;
    background-color: #F3EFE9;
    color: #661EFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    /* background-color: #8fd33b; */
}
.container2 {
    /* background-color: #218838; */
}
.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #67d67f; */
}

.container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: "PPMori-SemiBold", sans-serif;
    font-size: 4rem;
    text-align: center;
    /* margin-bottom: 6rem; */
    color: #661EFF;
}

.input-group, .output-group {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    font-family: "Satoshi-Regular", sans-serif;
    font-size: 1.2rem;
    flex: 1;
    margin-right: 1rem;
    text-align: left;
}

input, select {
    font-family: "Satoshi-Regular", sans-serif;
    flex: 2;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #661EFF;
    background-color: #F8F5EF;
    border-radius: 8px;
    height: 40px;
    font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    color: #661EFF;
}

select {
    margin-left: 10px;
    height: 40px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

p {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}

.output-group {
    /* display: flex;
    flex-direction: column; */
}

#total {
    font-family: "PPMori-SemiBold", sans-serif;
    font-size: 4rem;
    /* background-color: #218838; */
    /* margin-top: rem; */
}
