@font-face {
    font-family: "Satoshi-Regular";
    src: url('./Fonts/Satoshi-Regular.otf');
}
@font-face {
    font-family: "Satoshi-Light";
    src: url('./Fonts/Satoshi-Light.otf');
}
@font-face {
    font-family: "Satoshi-Medium";
    src: url('./Fonts/Satoshi-Medium.otf');
}
@font-face {
    font-family: "Satoshi-Bold";
    src: url('./Fonts/Satoshi-Bold.otf');
}
@font-face {
    font-family: "PPMori-SemiBold";
    src: url('./Fonts/PPMori-SemiBold.otf');
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Satoshi-Light", sans-serif;
    background-color: #FF543C;
    color: #F3EFE9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrolling */
}

.container {
    background-color: #FF543C;
    padding: 3rem 1rem 0rem 1rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
}

.container1 {
    background-color: #FF543C;
    border-bottom: solid #F3EFE9;
    height: auto;
    text-align: right;
}

.container2,
.container3 {
    background-color: #FF543C;
    border-bottom: solid #F3EFE9;
    height: auto;
    padding: 1rem 0rem 1rem 0rem; /* Consistent padding for all containers */
    justify-content: space-between;
}

.container4 {
    background-color: #FF543C;
    height: auto;
    padding: 1rem 0; /* Consistent padding for all containers */
    text-align: right;
}

h1 {
    font-family: "PPMori-SemiBold", sans-serif;
    font-size: 2rem;
    text-align: right;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

input, select {
    font-family: "Satoshi-Light", sans-serif;
    flex: 2;
    box-sizing: border-box;
    border: 0;
    height: 40px;
    font-size: 3rem;
    outline: none; /* Remove outline on focus */
    -webkit-appearance: none; /* Remove input arrows */
    appearance: none; /* Remove input arrows */
    color: #F3EFE9;
    background-color: #FF543C;
}

input::placeholder {
    color: #F3EFE9; /* Match placeholder text color to input text color */
    opacity: 1; /* Ensure the placeholder is fully visible */
}

.item-split {
    font-family: "Satoshi-Medium", sans-serif;
    background-color: #F3EFE9;
    max-width: 4rem;
    height: 3rem;
    font-size: 2rem;
    color: #FF543C;
    border-radius: 8px;
    text-align: center;
}

.item-price {
    background-color: #FF543C;
    text-align: right;
    max-width: 75%;
}

#tax,
#tip {
    background-color: #FF543C;
}

input[type="number"] {
    -moz-appearance: textfield;
    text-align: right;
    width: 20px;
    color: #F3EFE9;
}

.output-group {
}

#total {
    font-family: "PPMori-SemiBold", sans-serif;
}

/* Ensure the view adjusts on screen resize */
@media (max-height: 600px) {
    .container {
        justify-content: space-between; /* Adjust to fill the screen */
    }

    h1 {
        font-size: 1.5rem; /* Smaller font for small screens */
    }

    input, select {
        font-size: 2.5rem; /* Adjust input font size */
    }

    .item-split {
        height: 2.5rem; /* Adjust split box size */
        font-size: 1.5rem;
    }
}
